@mixin data-item() {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@mixin inside() {
  padding: 0.7rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  background: rgba(255, 255, 255, 0.1);
  color: white;
}
@mixin med() {
  @media (max-width: 767px) {
    display: block;
  }
}
